
<p id="notice"><%= notice %></p>

<h1>Database</h1>

<span>Todays Date <%= @d %></span><br><br>

<%= button_to 'Run Program', loop_path, method: :get %><br>

<%= @allthem %>

<table>
  <thead>
    <tr>
      <th>City</th>
      <th>Date</th>
      <th>Time</th>
      <th>Temperature</th>
      <th>Description</th>
      <th>Windspeed</th>
       <th>Humidity</th>
        <th>Barometer</th>
         <th>Visibility</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @weathers.each do |weather| %>
      <tr>
        <td><%= weather.city %></td>
        <td><%= weather.date %></td>
        <td><%= weather.time %></td>
        <td><%= weather.temperature %></td>
        <td><%= weather.description %></td>
        <td><%= weather.windspeed %></td>
        <td><%= weather.humidity %></td>
        <td><%= weather.barometer %></td>
        <td><%= weather.visibility %></td>
        <td><%= link_to 'Show', weather %></td>
        <td><%= link_to 'Edit', edit_weather_path(weather) %></td>
        <td><%= link_to 'Destroy', weather, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add Weather Entry', new_weather_path %>

