
<p id="notice"><%= notice %></p>

<h1>Weather Database</h1>
<%= @student_count %>
<%= @drives %>
<%= @test %>



<%= link_to 'loop', loop_path, method: :get %>



<%= link_to 'New Weather', new_weather_path %>
