<p id="notice"><%= notice %></p>

<p>
  <strong>City:</strong>
  <%= @weather.city %>
</p>

<p>
  <strong>Date:</strong>
  <%= @weather.date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @weather.time %>
</p>

<p>
  <strong>Temperature:</strong>
  <%= @weather.temperature %>
</p>

<p>
  <strong>Description:</strong>
  <%= @weather.description %>
</p>

<p>
  <strong>Windspeed:</strong>
  <%= @weather.windspeed %>
</p>

<%= link_to 'Edit', edit_weather_path(@weather) %> |
<%= link_to 'Back', weathers_path %>
